      <div class="span-24 webhomeHeader">
		  <div class="headerLeft">
			<%= image_tag("weblogo.jpg", :alt => "webhomelogo", :class => "webhomelogo") %>
		  </div>
		  <div class="headerRight">
			<%= image_tag("logo.png", :alt => "howiebornlogo", :class => "logo", :height => "70px") %>
			<%= image_tag("header_bg.jpg", :class => "imgHeaderBG", :height => "120px") %>
		  </div>	
		  <div class="transborder"></div>
      </div>
