<%= render 'layouts/webhome' %>
<div class="leftCol">
<h3>Contact Details</h3>
<strong>mobile:</strong> 0422171468
<br /><br />
<strong>email:</strong> <a href="mailto:howieborn@gmail.com?Subject=Msg%20From%20Howie%20Born%20Website"> howieborn@gmail.com</a>
<br /><br />
<strong>address:</strong> Auchenflower, Brisbane, Australia.
<br /><br />
<h3>Send Me An Email</h3>
<%= render 'contacts/new' %>

</div>


