	  <div class="webhomeContainer">
      <div class="webhomeHeader">
			<% logo = image_tag("logo.png", :alt => "howieborn", :class => "logo", :height => "70px") %>
			<%= link_to logo, root_path %></br>
			<div id="tag">creative consultant</div>
      </div>
      <div id="page">
       <div id="tag1"> "Specialising In The Design & Development of Database Driven Websites" </div>	
		 <div class="webhomeMenu">
			<%= render 'shared/nav' %>
		 </div>
		 <div class="webhomeContent">
		
		